language: haskell
ghc:
    - '7.10'

install:
    - sudo aptitude -y install haskell-platform
script:
    - stack init
    - stack --resolver lts-8 --install-ghc test


notifications:
    email:
        on_success: never
on_failure: change